.Detail{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.Detail_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 35vw;
    /* glass */
    background: rgba(255, 255, 255, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* glass */
    margin: 20vh 0;
    padding: 0 20vh;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.Detail_img{
    margin: 1vh 5vh 0.5vh 0;
    img{
        height: 36vh;
        width: 18vw;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
}
.Detail_detalle{
    display: flex;
    flex-direction: column;
    h1{
        color: nth($popu2 , 4);
        font-size: 4rem;
        margin: 10px 0;
    }
    h2{
        color: nth($popu2 , 4);
        font-size: 1.5rem;
        margin:0;
    }
    p{
        color: nth($popu2 , 4);
        font-size: 1.2rem;
        margin:0;
    }
}
.counter{
    display: flex;
    flex-direction: column;
    span{
        font-size: 3rem;
    }
    button{
        cursor: pointer;
        height: 5vh;
        width: 30vw;
        width: 100%;
        border: none;
        border-radius: 16px;
        margin: 10px;
        font-size: 1.5rem;
        color: nth($popu2 , 4);
        background-color: #FDEFEF;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
}
.counter_btn{
    display: flex;
}
.btn_detail{
    button{
        height: 5vh;
        width: 30vw;
        width: 100%;
        border: none;
        border-radius: 16px;
        margin: 10px;
        font-size: 1.5rem;
        color: nth($popu2 , 4);
        background-color: #FDEFEF;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        &:hover{
            color: nth($popu2 , 4);
            background-color: nth($verdeneon , 1);
        }
    }
}