@import "../base/colores";
.login{
    margin-top: 10vh;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.login_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 50vw;
    /* glass */
    background: rgba(255, 255, 255, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* glass */
    h2{
        font-size: 4rem;
        margin: 10px;
    }
    p{
        background-color: nth($rojo , 2);
        border-radius: 16px;
        text-align: center;
        color: nth($popu1 , 1);
        font-size: 1.2rem;
        padding: 5px;
    }
    button{
        border-radius: 16px;
        font-size: 1.4rem;
        border: none;
        margin: 0 0 0 0;
        height: 4vh;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: all 0.3s;
            background-color: #F0F0F0;
            color: nth($marron, 4);
        &:hover{
            color: nth($darkB , 4);
            background-color: nth($verdeneon , 1);
        }
    }
}
.login_inp{
    display: flex;
    flex-direction: column;
    input{
        margin: 10px;
        width: 30vw;
        height: 3vh;
        border: none;
        border-bottom: 1px solid black;
        font-size: 1.2rem;
    }
}