@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  color: #694E4E;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

body {
  background: rgb(44, 51, 51);
  background: linear-gradient(180deg, #faf7f0 0%, #cdfcf6 39%, #bccef8 75%, #98a8f8 100%);
}

.NavBar {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8EDE3;
  height: 8vh;
  width: 95vw;
  padding: 0 50px;
  transform: scale(1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.NavBar a {
  text-decoration: none;
  transition: all 0.5s;
}
.NavBar a:hover {
  text-shadow: 0px 5px 5px #b983ff;
  transform: scale(1.04);
}

.NavBar_Logo {
  position: absolute;
  left: 50px;
  font-size: 2.5rem;
  transition: all 0.5s;
  transform: scale(1);
}
.NavBar_Logo:hover {
  transform: scale(1.04);
}

.NavBar_links {
  position: absolute;
  top: 10px;
  left: 35vw;
  list-style: none;
  display: flex;
  padding: 0;
}
.NavBar_links li {
  font-size: 1.5rem;
  margin: 0 20px;
}

.NavBar_Cat span {
  font-size: 1.5rem;
  margin: 0 20px;
}
.NavBar_Cat ul {
  list-style: none;
  max-height: 30px;
  overflow: hidden;
  transition: all 0.5s;
  padding: 0;
}
.NavBar_Cat ul:hover {
  max-height: 200px;
  background: rgba(125, 110, 131, 0.5);
  border-radius: 16px;
}

.NavBar_Cart {
  position: absolute;
  right: 100px;
  font-size: 1.5em;
}

.top_3 {
  margin: 10vh 0 3vh 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top_3_cont {
  padding: 2vh;
  /* glass */
  background: rgba(255, 255, 255, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* glass */
  display: flex;
  align-items: center;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.top_3_cont img {
  margin: 0 20px;
  height: 30vh;
}

.index_title_cont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.index_title {
  position: relative;
  bottom: -30px;
  font-size: 2rem;
  text-align: center;
}
.index_title h1 {
  margin: 0;
  border-bottom: 2.5px solid #694E4E;
  width: 15vw;
}

.black {
  background-color: black;
}

.productos_box {
  display: flex;
  flex-direction: column;
  background-color: #9254C8;
  width: 15vw;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transform: scale(1);
  transition: all 0.3s;
}
.productos_box h3 {
  width: 85%;
  text-align: center;
  border-bottom: 1px solid #694E4E;
  color: #F4F4F2;
}
.productos_box p {
  color: #F4F4F2;
}
.productos_box:hover {
  box-shadow: rgba(248, 6, 204, 0.19) 0px 10px 20px;
  transform: scale(1.03);
}
.productos_box img {
  width: 15vw;
}
.productos_box button {
  font-size: 1.4rem;
  border: none;
  margin: 10px 0 0 0;
  height: 3vh;
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.productos_box button:hover {
  color: #495464;
  background-color: #00FFAB;
}

.productos {
  margin: 10vh;
  padding: 1vh;
  /* glass */
  background: rgba(255, 255, 255, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* glass */
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.productos_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productos_cont h3 {
  font-size: 1.5rem;
  margin: 10px 20px;
}
.productos_cont p {
  margin: 0 20px;
}

.btnsr {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.btnsr button {
  border: none;
  height: 3vh;
  width: 2vw;
}
.btnsr input {
  height: 2.8vh;
  border: none;
}

.Detail {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.Detail_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
  width: 35vw;
  /* glass */
  background: rgba(255, 255, 255, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* glass */
  margin: 20vh 0;
  padding: 0 20vh;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.Detail_img {
  margin: 1vh 5vh 0.5vh 0;
}
.Detail_img img {
  height: 36vh;
  width: 18vw;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.Detail_detalle {
  display: flex;
  flex-direction: column;
}
.Detail_detalle h1 {
  color: #495464;
  font-size: 4rem;
  margin: 10px 0;
}
.Detail_detalle h2 {
  color: #495464;
  font-size: 1.5rem;
  margin: 0;
}
.Detail_detalle p {
  color: #495464;
  font-size: 1.2rem;
  margin: 0;
}

.counter {
  display: flex;
  flex-direction: column;
}
.counter span {
  font-size: 3rem;
}
.counter button {
  cursor: pointer;
  height: 5vh;
  width: 30vw;
  width: 100%;
  border: none;
  border-radius: 16px;
  margin: 10px;
  font-size: 1.5rem;
  color: #495464;
  background-color: #FDEFEF;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.counter_btn {
  display: flex;
}

.btn_detail button {
  height: 5vh;
  width: 30vw;
  width: 100%;
  border: none;
  border-radius: 16px;
  margin: 10px;
  font-size: 1.5rem;
  color: #495464;
  background-color: #FDEFEF;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.btn_detail button:hover {
  color: #495464;
  background-color: #00FFAB;
}

.cart_text {
  width: 70%;
  margin: 30vh;
  padding: 5vh;
  text-align: center;
  /* glass */
  background: rgba(255, 255, 255, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* glass */
}
.cart_text p {
  font-size: 2.5rem;
}
.cart_text a {
  font-size: 3rem;
  text-decoration: none;
  transform: scale(1);
  transition: all 0.5s;
}
.cart_text a:hover {
  padding: 5px;
  color: #F4F4F2;
  background: rgba(125, 110, 131, 0.8);
  border-radius: 16px;
}

.cart_cont {
  width: 80%;
  margin: 10vh;
  padding: 5vh;
}
.cart_cont p {
  font-size: 1.5rem;
  color: #F4F4F2;
}
.cart_cont h4 {
  text-align: center;
  color: #F4F4F2;
  font-size: 3rem;
  background: rgba(125, 110, 131, 0.86);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
}
.cart_cont button {
  border-radius: 16px;
  font-size: 1.4rem;
  border: none;
  margin: 0 0 0 0;
  height: 4vh;
  width: 30vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s;
  background-color: #F0F0F0;
  color: #694E4E;
}
.cart_cont button:hover {
  color: #F4F4F2;
  background-color: #F90716;
}

#cart_btn_compra {
  width: 48%;
  height: 10vh;
  font-size: 2rem;
  margin: 10px;
}
#cart_btn_compra:hover {
  color: #212121;
  background-color: #00FFAB;
}

#cart_btn_borrar {
  width: 48%;
  height: 10vh;
  font-size: 2rem;
  margin: 10px;
}
#cart_btn_borrar:hover {
  color: #F4F4F2;
  background-color: #F90716;
}

.cart_box {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  /* glass */
  background: rgba(146, 84, 200, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* glass */
  border-radius: 16px;
}

.login {
  margin-top: 10vh;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.login_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 50vw;
  /* glass */
  background: rgba(255, 255, 255, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* glass */
}
.login_cont h2 {
  font-size: 4rem;
  margin: 10px;
}
.login_cont p {
  background-color: #FF5403;
  border-radius: 16px;
  text-align: center;
  color: #F8EDE3;
  font-size: 1.2rem;
  padding: 5px;
}
.login_cont button {
  border-radius: 16px;
  font-size: 1.4rem;
  border: none;
  margin: 0 0 0 0;
  height: 4vh;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s;
  background-color: #F0F0F0;
  color: #694E4E;
}
.login_cont button:hover {
  color: #212121;
  background-color: #00FFAB;
}

.login_inp {
  display: flex;
  flex-direction: column;
}
.login_inp input {
  margin: 10px;
  width: 30vw;
  height: 3vh;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
}

/*# sourceMappingURL=App.css.map */
