$violetas:
#8BBCCC,
#4C6793,
#5C2E7E,
#000000;

$marron:
#F3C5C5,
#C1A3A3,
#886F6F,
#694E4E;

$pastelNeon:
#B983FF,
#94B3FD,
#94DAFF,
#99FEFF;

$darkB:
#14FFEC,
#0D7377,
#323232,
#212121;

$darkV:
#F806CC,
#A91079,
#570A57,
#2E0249,
#9254C8,
#905E96;

$verdeneon:
#00FFAB,
#14C38E,
#B8F1B0,
#E3FCBF;

$popu1:
#F8EDE3,
#DFD3C3,
#D0B8A8,
#7D6E83;

$popu2:
#F4F4F2,
#E8E8E8,
#BBBFCA,
#495464;

$rojo:
#F90716,
#FF5403,
#FFCA03,
#FFF323;
